.icons {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 2rem;
}

.searchicons {
    height: 2rem;
    width: 2rem;
    justify-content: center;
}
