.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid {
    display: grid;
    gap: var(--spacing-l);
    --grid-padding-top: 1rem;
    padding-top: var(--grid-padding-top);
}

a {
    text-decoration: none;
    color: inherit;
}
/* Account management */

.account {
    justify-content: flex-end;
    border-bottom: 0.5px solid lightgray;
    padding-right: var(--spacing-m);
    font-size: var(--small-font-size);
}

.account-links {
    display: flex;
    list-style: none;
    gap: var(--spacing-m);
}

/* Search section */

.menu {
    border-bottom: 2px solid lightgray;

    .menu__item {
        flex: 1;
    }

    .menu__item + .menu__item {
        margin-left: var(--spacing-xl);
    }
}

.search-bar {
    width: 150%;
    height: 35%;
    border: 1px solid black;
}

.icons-list {
    display: flex;
    gap: var(--spacing-m);
    padding-top: var(--spacing-m);
}

.ideas {
    text-align: center;
}

/* Categories section */

.categories {
    border-bottom: 2px solid lightgray;
    padding-bottom: var(--spacing-xs);
}
.categories-list {
    display: flex;
    list-style-type: none;
    gap: var(--spacing-l);
}

.category-image {
    height: 145px;
    width: 250px;
}

/* Features section */

.features {
    padding-top: var(--spacing-s);
    padding-bottom: var(--spacing-s);
    gap: var(--spacing-m);
}

/* Banner section */
.banner {
    padding: var(--spacing-l);
}

/* Popular section */

.popular {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

/* Trending section */

.trending {
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.subtitle {
    text-align: center;
}
