
.container {
   display: flex;
}

.grid {
   display: grid;
}
/* Account management */

.account {
   justify-content: flex-end;
   padding-right: 20px;
}

.account-links {
  display: flex;
  list-style: none;
  gap: 20px;
}

/* Search section */

.search {
   padding: 20px;
}

.logo {
   flex:1;
   display: flex;
   justify-content: flex-start;
   align-items: center;
}

.search-bar{
   flex: 1;
   display: flex;
   justify-content: center;
   align-items: center;
}

#searchbar {
   width: 50rem;
}


.icons-list{
   display: flex;
   list-style: none;
   gap: 20px;
}

/* Categories section */

.categories {
   justify-content: center;
   align-items: center;
   padding-bottom: 10px;
}
.categories-list {
   display: flex;
   list-style-type: none;
   gap: 20px;
}

.category-image {
   height: 145px;
   width: 250px;
}

/* Features section */

.features {
   justify-content: center;
   align-items: center;
   padding-bottom: 10px;
   gap: 20px;
}

/* Banner section */

.banner {
   justify-content: center;
   padding: 10px;
}

/* Popular section */

.popcategories {
   justify-content: center;
   align-items: center;
   
}

.popular {
   grid-template-columns: 1fr 1fr 1fr 1fr;
   grid-template-rows: 1fr 1fr;
   gap:20px;
}

/* Trending section */

.trending {
   grid-template-columns: 1fr 1fr 1fr 1fr;
}

.subtitle {
   text-align: center;
}


