/* Setting up CSS variables */
:root {
    --spacing-xs: 0.1rem;
    --spacing-s: 0.2rem;
    --spacing-m: 1.5rem;
    --spacing-l: 2rem;
    --spacing-xl: 25rem;
}

.grid {
    gap: var(--spacing-l);
    --grid-padding-top: 1rem;
    padding-top: var(--grid-padding-top);
}

/* Spacing for header section */
.account {
    padding-right: var(--spacing-m);
}

.account-links {
    gap: var(--spacing-m);
}

.icons-list {
    gap: var(--spacing-m);
}

/* Spacing for nav bar section */
.categories {
    padding-bottom: var(--spacing-xs);
}

.categories-list {
    gap: var(--spacing-l);
}

.features {
    padding-top: var(--spacing-s);
    padding-bottom: var(--spacing-s);
    gap: var(--spacing-m);
}

/* Banner section */
.banner {
    padding: var(--spacing-l);
}

.menu__item + .menu__item {
    margin-left: var(--spacing-xl);
}
