/* Setting up CSS variables */
:root {
    --right-padding: 1.5rem;
    --small-gap: 1.5rem;
    --large-gap: 2rem;
    --btm-padding-sml: 0.1rem;
    --btm-padding-sml2: 0.2rem;
    --btm-padding-sml2: 0.2rem;
    --large-padding: 2rem;
}

.grid {
    gap: var(--large-gap);
    --grid-padding-top: 1rem;
    padding-top: var(--grid-padding-top);
}

/* Spacing for header section */
.account {
    padding-right: var(--right-padding);
}

.account-links {
    gap: var(--small-gap);
}

.icons-list {
    gap: var(--small-gap);
}

/* Spacing for nav bar section */
.categories {
    padding-bottom: var(--btm-padding-sml);
}

.categories-list {
    gap: var(--large-gap);
}

.features {
    padding-top: var(--btm-padding-sml2);
    padding-bottom: var(--btm-padding-sml2);
    gap: var(--small-gap);
}

/* Banner section */
.banner {
    padding: var(--large-padding);
}
