:root {
    --blurred-background-color: rgba(255, 255, 255, 0.2);
    --main-background-color: white;
    --hover-color: green;
}

section {
    --subsection-bg-color: #dcf2f1;
}

.subsection {
    background-color: var(--subsection-bg-color);
}
